/*Expressions from the heart css*/
/*made by Cam Fivattew @cam582m*/


.title{
  margin-left: 50px;
}

.img{
  border: 1px solid;
  border-color: #ffffcc;
  border-radius: 5px;
  height: auto;
  width: 70%;
}
.imgSmall{
  border: 1px solid;
  border-color: #ffffcc;
  border-radius: 5px;
  height: auto;
  width: 32%;
}
.imgMedium{
  border: 1px solid;
  border-color: #ffffcc;
  border-radius: 5px;
  height: auto;
  width: 40%;
}
.imgModerate{
  border: 1px solid;
  border-color: #ffffcc;
  border-radius: 5px;
  height: auto;
  width: 52%;
}


.f1 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'EB Garamond', serif;*/
    color: #ffffcc;
    letter-spacing: 5px;
    font-size: 50px;
    line-height: 25px;
}
.f1small {
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'EB Garamond', serif;*/
  color: #ffffcc;
  letter-spacing: 5px;
}
.f12 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'EB Garamond', serif;*/
    color: #ffffcc;
    letter-spacing: 3px;
    font-size: 25px;
    line-height: 25px;
}
.f1small2 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'EB Garamond', serif;*/
    color: #ffffcc;
    letter-spacing: 1px;
    font-size: 13px;
}


.f2 {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'EB Garamond', serif;
}

.navbar{
  font-family: 'EB Garamond', serif;
  text-align: center;
  color: #ffffcc;
  padding-left:10px;
  padding-right:10px;
  letter-spacing: 2px;
  font-size: 16px;

}
a.boxt:link {
  color: #011291;
}
a.boxt:visited {
  color: #011291;
}

.pImage{

  width: 50%;
  height: 50%;
}

a {
  text-decoration: none;
  color: #ffffcc;
}
a:hover {


}
hr{

}
.box{
  margin: auto;
  width: 66%;
  border-style: inset;
  background-color: #a9d6b2;
  padding: 10px;
  font-family: 'EB Garamond', serif;

}
.boxSmall{
  margin: auto;
  width: 40%;
  border-style: inset;
  background-color: #a9d6b2;
  padding: 10px;
  font-family: 'EB Garamond', serif;

}
.boxtext{
  font-family: 'Cantarell';
  color: #00001a;
  font-size: 16px;
}
pre{
  font-family: 'Cantarell';
  color: #00001a;
  font-size: 16px;
  margin-left: 18%;
}

body {
  background-color: #00001a;
  line-height: 1.5;
}
